<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Delete Todo List</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Are you sure?</h1>
        <form method="POST">
          {% csrf_token %}
          {{ from.as_p }}
          <div>
            <button type="submit">Delete</button>
          </div>
        </form>
      </div>
    </body>
  </html>
