<!DOCTYPE html>
<html>
  <head>
    <title>Todo Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <p>
          <a href="{% url 'todo_list_create' %}">Create New List</a>
        </p>
        <p>
          <a href="{% url 'todo_item_create' %}">Create New Item</a/>
        </p>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of items</th>
            </tr>
          </thead>
          <tbody>
            {% for list in todo_lists %}
              <tr>
                <td>
                  <a href="{% url 'todo_list_detail' list.pk %}">{{ list.name }}</a>
                </td>
                <td>
                  {{ list.items.all|length }}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </main>
    </body>
  </html>
