<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit Todo List</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Update list</h1>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <div>
            <button type="submit">Update</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
