<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todo Item</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Create a new item</h1>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <div>
            <button type="submit">Create</button>
          </div>
        </form>
      </div>
    </body>
  </html>
